@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

.display-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.navbar-item.Logo{
  padding: 0px;
  padding-left: 5px;
}

.navbar-item.Logo a{
  max-height: 52px;
}

.navbar-item.Logo img{
  height: 42px;
  max-height: initial;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.sign-in-btn.navbar-link.is-link:after{
  display: none;
}

section.hero.is-info .home-header {
  background-size: 80%;
  background: #efefef url('../img/top_bg.jpg') no-repeat center;
  min-height: 350px;
  z-index: 2 !important;
}

.home-body {
  padding-top: 40px;
}

.home-tab-item a {
  border: 1px solid #35ace7;
  min-height: 70px;
  display: block;
  padding: 25px 0px;
  transition: all .3s;
}

.home-tab-item a h2 {
  font-weight: bold;
}

.home-tab-item a:hover {
  background-color: #35ace7;
  color: #fff;
}

section.hero.is-info .hero-body > .container > .columns {
  /* background-color: #43b8e5c9; */
  /* border: 1px solid #3da8d2; */
  /* border-radius: 5px; */
}

section.hero.is-info .hero-body .label {
  color: #ffffff;
}

section.hero.is-info .hero-body input {
  color: #216eb4;
}

section.hero.is-info .hero-body button {
  background-color: #216eb4;
}

section.hero.is-info .hero-body button:hover {
  background-color: #3789d4;
}

section.hero.is-info .hero-body button.is-success {
  background-color: #36ea75;
}

section.hero.is-info .hero-body button.is-success:hover {
  background-color: #32d069;
}

section.hero.is-info .hero-body a.button {
  background-color: #79a6c5;
  /* background-color: #216eb4; */
  border-color: #79a6c5;
  color: #fff;
}

section.hero.is-info .hero-body a.button:hover {
  background-color: #79a6c5;
}

/*// .card {*/
  /*// 	-webkit-box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);*/
  /*// 	box-shadow: 0 2px 3px hsl(196, 72%, 68%), 0 0 0 1px hsl(196, 72%, 68%);*/
  /*// 	color: #395990;*/
  /*// }*/

  /*// .card .media-content p strong {*/
    /*// 	color: #395990;*/
    /*// }*/

    /*// .card .button.is-info.is-outlined:hover {*/
      /*// 	background-color: transparent;*/
      /*// 	border-color: #35ace7;*/
      /*// 	color: #35ace7;*/
      /*// }*/

      /*// .card .button.is-info.is-outlined {*/
        /*// 	background-color: #35ace7;*/
        /*// 	border-color: #35ace7;*/
        /*// 	color: #fff;*/
        /*// }*/

        /*// .cart-added .button.is-info.is-outlined{*/
          /*// 	background-color: transparent;*/
          /*// 	border-color: #35ace7;*/
          /*// 	color: #35ace7;*/
          /*// }*/

          .cart-added .button.is-info.is-outlined:hover {
            background-color: rgba(32, 156, 238, 0.12941176470588237);
            border-color: #35ace7;
            color: #35ace7;
          }

          .checkouts-prescription-card .title {
            color: #0168b5;
          }

          .checkouts-prescription-card .file-cta {
            background-color: #35ace7;
            border-color: #35ace7;
            color: #fff;
          }

          .checkouts-prescription-card .file-cta:hover {
            background-color: #2583b1;
          }

          .checkouts-prescription-card .file-name {
            border-color: #35ace7;
          }

          .checkouts-address-card .title {
            color: #0168b5;
          }

          .checkouts-address-card input, .checkouts-address-card select {
            // border-color: #35ace7;
            // color: #0168b5;
          }

          .checkouts-address-card .address-item {
            border: 1px solid #73c9e9;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #f6fdff;
          }

          .checkouts-address-card .address-item:last-child {
            margin-bottom: 0px;
          }

          .checkouts-address-card .address-item label {
            font-weight: bold;
          }

          .checkouts-order-details-card .title {
            color: #0168b5;
          }

          .checkouts-order-details-card strong {
            color: #0168b5;
          }

          .checkouts-order-details-card .order-total {
            background-color: #35ace7
          }

          .checkouts-order-details-card .order-total p, .checkouts-order-details-card .order-total h1 {
            color: #fff;
          }

          .checkouts-order-details-card .order-total tr.action-buttons td:nth-child(1) {
            padding-right: 15px;
          }

          .checkouts-order-details-card .order-total tr.action-buttons td:nth-child(2) {
            padding-left: 15px;
          }

          .checkouts-order-details-card .order-total tr.action-buttons td button {
            width: 100%;
          }

          .checkouts-order-details-card .order-total tr.action-buttons td button.is-success {
            background-color: #36ea75;
          }

          .checkouts-order-details-card .order-total tr.action-buttons td button.is-success:hover {
            background-color: #32d069;
          }

          .menu-list a {
            color: #3273dc;
          }

          .account-profile-card p, .account-profile-card h1 {
            color: #0168b5;
          }

          /*// .account-profile-card input {*/
            /*//   border-color: #35ace7;*/
            /*//   color: #0168b5;*/
            /*// }*/

            .my-orders p, .my-orders h1, .my-orders td, .my-orders td strong {
              color: #0168b5;
            }

            .account-address p, .account-address h1 {
              color: #0168b5;
            }

            .account-address #addressList .media {
              border: 1px solid #73c9e9;
              padding: 15px;
              background-color: #f6fdff;
            }

            .account-address #addressList .media .dropdown-menu .dropdown-content {
              padding: 10px;
            }

            /*//.account-address #addressList .media .dropdown-menu .dropdown-content a{*/
              /*//	padding: 2px;*/
              /*//	background-color: #36ea75;*/
              /*//	color: #fff;*/
              /*//	border: 1px solid #36ea75;*/
              /*//	width: 100%;*/
              /*//	text-align: center;*/
              /*//}*/
              /*//*/
              /*//.account-address #addressList .media .dropdown-menu .dropdown-content a:hover{*/
                /*//	background-color: #32d069;*/
                /*//	color: #fff;*/
                /*//	border: 1px solid #32d069;*/
                /*//}*/

                /*//.account-address #addressList .media .dropdown-menu .dropdown-content form button{*/
                  /*//	padding: 2px;*/
                  /*//	background-color: #ec1b4d;*/
                  /*//	color: #fff;*/
                  /*//	border: 1px solid #ec1b4d;*/
                  /*//	width: 100%;*/
                  /*//}*/
                  /*//*/
                  /*//.account-address #addressList .media .dropdown-menu .dropdown-content form button:hover{*/
                    /*//	padding: 2px;*/
                    /*//	background-color: #bf1b42;*/
                    /*//	color: #fff;*/
                    /*//	border: 1px solid #bf1b42;*/
                    /*//	width: 100%;*/
                    /*//}*/

                    .account-address-edit p, .account-address-edit h1 {
                      color: #0168b5;
                    }

                    /*.account-address-edit input, .account-address-edit select {*/
                      /*border-color: #35ace7;*/
                      /*color: #0168b5;*/
                      /*}*/

                      .account-address-create p, .account-address-create h1 {
                        color: #0168b5;
                      }

                      /*.account-address-create input, .account-address-create select {*/
                        /*border-color: #35ace7;*/
                        /*color: #0168b5;*/
                        /*}*/

                        .account-password p, .account-password h1 {
                          color: #0168b5;
                        }

                        /*.account-password input {*/
                          /*border-color: #35ace7;*/
                          /*color: #0168b5;*/
                          /*}*/

                          .checkouts-order-details-card .item-description {
                            font-size: 14px;
                            margin-top: 0px;
                            padding-top: 5px;
                            border-top: 0px;
                            margin-bottom: 0px !important;
                          }

                          .checkouts-order-details-card .item-discount strong.is-success {
                            font-size: 15px;
                          }

                          .checkouts-order-details-card .item-discount {
                            margin-top: 0px;
                            border-top: 0px;
                            padding-top: 5px;
                          }

                          .checkouts-order-details-card .item-discount .media-content p {
                            font-size: 14px;
                          }

                          .checkouts-order-details-card .item-discount .media-content p strong {
                            color: #1dca59;
                          }

                          .home-body .container {
                            width: 100%;
                            padding: 0px 15px;
                          }

                          @media screen and (min-width: 1024px) {
                            .navbar-link:after {
                              border-color: #ffffff;
                            }
                          }

                          .login-page .auth.card .card-content .card-title.has-text-centered {
                            font-size: 1.5rem;
                            color: #0168b5;
                          }

                          .is-facebook:hover {
                            color: #FFF;
                          }

                          .register-page .card-content h4.card-title {
                            font-size: 1.5rem;
                            color: #0168b5;
                          }

                          .register-page .logo.text-center h1 {
                            font-size: 20px;
                            font-weight: bold;
                            padding: 15px;
                            box-sizing: border-box;
                            color: #0168b5;
                          }

                          .register-page .register-box {
                            margin-top: 10px;
                          }

                          .login-page .logo.text-center h1 {
                            font-size: 20px;
                            font-weight: bold;
                            padding: 15px;
                            box-sizing: border-box;
                            color: #0168b5;
                          }

                          .login-page .login-box {
                            margin-top: 10px;
                          }

                          .forgot-password-page .email-box h4.card-title {
                            font-size: 1.5rem;
                            color: #0168b5;
                          }

                          .forgot-password-page .email-box p.email-description {
                            font-size: 14px;
                            margin-top: 10px;
                            margin-bottom: 10px;
                          }

                          .forgot-password-page .logo.text-center h1 {
                            font-size: 20px;
                            font-weight: bold;
                            padding: 15px;
                            box-sizing: border-box;
                            color: #0168b5;
                          }

                          .forgot-password-page .email-box {
                            margin-top: 10px;
                          }

                          section.hero.is-info .hero-body, section.hero.is-info .hero-head {
                            z-index: 1000000000 !important;
                          }

                          html {
                            height: 100%;
                            box-sizing: border-box;
                          }

                          body {
                            position: relative;
                            margin: 0;
                            padding-bottom: 6rem;
                            min-height: 100%;
                          }

                          .footer {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            padding: 1rem;
                            background-color: transparent;
                            text-align: center;
                          }

/**
Typehead
*/

.twitter-typeahead {
  width: 100%;
}

/*body::-webkit-scrollbar {*/
  /*background-color: #465458;*/
  /*width: 10px;*/
  /*}*/

  /*body::-webkit-scrollbar-track {*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    /*}*/

    /*body::-webkit-scrollbar-thumb {*/
      /*background-color: #ffffff;*/
      /*outline: 1px solid slategrey;*/
      /*border-radius: 5px;*/
      /*box-shadow: 0px 0px 3px 0px #000 inset;*/
      /*}*/

      .position-fixed {
        position: fixed;
        width: 100%;
        z-index: 99999999999999999;
      }

      .nav-container-space {
        height: 52px;
        width: 100%;
      }

      body {
        background-image: url('../img/body_bg_repeat.jpg');
        padding: 0px;
      }

      section.hero.is-info .hero-head {
        /* background-color: transparent; */
      }

      .hero.is-info {
        background-color: transparent;
      }

      .hero.is-info .hero-head {
        background-color: rgba(0, 0, 0, 0.54);
      }

      .hero-body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.29);
      }

      .logout-text {
        display: none;
      }

      .logout-icon {
        display: block;
        width: 21px;
        height: 20px;
        background-size: 20px;
        background: url('/img/logout_icons.png') no-repeat top;
        transition: background 0.3s ease;
      }

      .navbar-item.Logo a {
        font-family: 'Quicksand', sans-serif !important;
        font-size: 24px;
        font-weight: bold;
        color: #fff !important;
        font-style: italic;
        padding-top: 5px
      }

      .btn-logout:hover .logout-icon {
        background-position: bottom;
      }

      .navbar-link {
        padding: 5px 10px;
        color: #fff !important;
        font-weight: 500;
      }

      .hero.is-info .navbar-link.is-active, .hero.is-info .navbar-link:hover, .hero.is-info a.navbar-item.is-active, .hero.is-info a.navbar-item:hover {
        background-color: #fff;
        color: #111;
      }

      .navbar-link:hover {
        color: #00c5ff !important;
        background-color: transparent !important;
      }

      .navbar-link:hover:after {
        color: #fff !important;
        background-color: transparent !important;
      }

      .home-body {
        padding: 0px;
      }

      .home-body .columns {
        position: absolute;
        /* top: 52px; */
        width: 100%;
        box-sizing: border-box;
        margin: 0pc;
        height: 100%;
      }

      .home-body .columns .column.home-tab-item {
        display: table;
        width: 50%;
        height: 100%;
      }

      .home-body .columns .column.home-tab-item:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2901960784313726);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
      }

      .home-body .columns .column.home-tab-item.pharmaceutical {
        background-image: url('../img/pharmaceutical_bg.jpg');
        /* background-image: url('../img/pharmaceutical_bg_blur.jpg'); */
        background-size: cover;
        background-position: center bottom;
      }

      .home-body .columns .column.home-tab-item.groceries {
        background-image: url('../img/groceries_bg.jpg');
        /* background-image: url('../img/groceries_bg_blur.jpg'); */
        background-size: cover;
        background-position: center bottom;
        position: relative;
        left: 0px;
        width: calc(50% + 1px);
      }

      .home-tab-item a {
        /* min-height: 60px; */
        /* padding: 17px 0; */
        /* width: 100px; */
        /* margin: auto; */
        /* margin-top: 15px; */
      }

      .section.hero.is-info:after {
        background-color: transparent !important;
      }

      .home-body .columns .column.home-tab-item {
        padding: 0px;
      }

      .home-body .columns .column.home-tab-item div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        z-index: 111;
        position: relative;
        /* border: 5px solid #fff; */
        color: #fff;
        /* background-color: rgba(255, 255, 255, 0.2901960784313726); */
        background-color: rgba(0, 0, 0, 0.2901960784313726);
        transition: background-color 0.3s ease;
        /* text-transform: UPPERCASE; */
        font-family: 'Quicksand', sans-serif !important;

      }

      .home-body .main-desc {
        position: absolute;
        margin: auto;
        text-align: center;
        width: 100%;
        top: 100px;
        z-index: 999999999;
        color: #fff;
        font-size: 30px;
      }

      .home-body .main-desc.main-desc1 {
        font-size: 65px;
        color: #00c5ff;
        /* font-weight: bold; */
        font-family: 'Quicksand', sans-serif !important;
        /* text-transform: uppercase; */
        text-shadow: 3px 3px 12px #333;
      }

      .home-body .main-desc.main-desc2 {
        top: 190px;
        font-weight: 100;
        font-size: 30px;
        font-family: 'Quicksand', sans-serif !important;
      }

      .home-body .columns .column.home-tab-item div:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }

      .home-body .columns .column.home-tab-item div p {
        font-size: 23px;
        font-weight: 500;
      }

      .home-body .columns .column.home-tab-item div h2 {
        font-size: 50px;
        font-weight: bold;
        margin-top: 30px;
      }

      .home-body .columns .column.home-tab-item div a {
        min-height: 60px;
        padding: 17px 10px;
        width: 130px;
        margin: auto;
        margin-top: 15px;
        background-color: rgba(17, 17, 17, 0.6901960784313725);
        border: 2px solid #fff;
        color: #fff;
        font-weight: 500;
      }

      .home-body .columns .column.home-tab-item div a:hover {
        background-color: #111;
      }

      .navbar-burger span {
        color: #fff;
      }

      #cart-search-form label {
        font-size: 18px;
        font-weight: normal;
        color: #fff;
      }

      .btn-cart-empty {
        background-color: #e74c3c !important;
        color: #fff !important;
      }

      section.search-results {
        padding-top: 20px;
      }

      #cart_mini label {
        font-size: 18px;
        color: #fff;
      }

      #product_list button.item-button {
        background-color: #216eb4;
        border-color: #216eb4;
        color: #fff;
      }

      #product_list button.item-button:hover {
        background-color: #fff;
        border-color: #216eb4;
        color: #216eb4;
      }

      #product_list .media + .media {
        border-top: 1px solid rgba(33, 110, 181, 0.23);
      }

      #cart span.button.is-info {
        background-color: #216eb4;
        border-color: #216eb4;
        color: #fff;
      }

      #cart button.button.is-info.is-outlined.item-button {
        background-color: #fff;
        border-color: #216eb4;
        color: #216eb4;
      }

      #cart button.button.is-info.is-outlined.item-button:hover {
        background-color: #216eb4;
        border-color: #216eb4;
        color: #fff;
      }

      .checkouts-prescription-card .file-cta {
        background-color: #216eb4;
        border-color: #216eb4;
      }

      .checkouts-address-card .address-item {
        border: 1px solid #216eb4;
      }

      .checkouts-order-details-card .order-total {
        background-color: #216eb4;
      }

      section.hero.is-info .hero-body button.is-success {
        // text-shadow: 0px 0px 4px #111;
      }

      .checkouts-order-details-card .order-total tr.action-buttons td button.is-success {
        // text-shadow: 0px 0px 4px #111;
      }

      .button.is-link {
        background-color: #216eb4;
        border-color: #216eb4;
        color: #fff;
      }

      .button.is-link:hover {
        background-color: #fff;
        border-color: #216eb4;
        color: #216eb4;
      }

      section.account-container .column.is-12.fullwidth, .section.account-container .column.is-12.fullwidth {
        background-color: #fff;
        -webkit-box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
        box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
        box-sizing: border-box;
        padding: 20px;
      }

      .status-icon-container{
        background-image: url('../img/status_icons.png');
        width: 50px;
        height: 50px;
        margin: auto;
        display: block;
      }

      .status-icon-ordered .status-icon-container{
        background-position-x: 0px; 
      }

      .status-icon-ordered.is-active .status-icon-container{
        background-position-y: 50px; 
      }

      .status-icon-packed .status-icon-container{
        background-position-x: -50px;
      }

      .status-icon-packed.is-active .status-icon-container{
        background-position-y: 50px;
      }

      .status-icon-shipped .status-icon-container{
        background-position-x: -100px;
      }

      .status-icon-shipped.is-active .status-icon-container{
        background-position-y: 50px;
      }

      .status-icon-delivered .status-icon-container{
        background-position-x: -150px;
      }

      .status-icon-delivered.is-active .status-icon-container{
        background-position-y: 50px;
      }

      .menu-list a.is-active {
        background-color: #216eb4;
        border: 1px solid #216eb4;
        color: #fff;
      }

      .menu-list a:hover {
       /* background-color: #fff; */
       /* border: 1px solid #216eb4; */
       /* color: #216eb4; */
     }

     .menu-list a {
      color: #3273dc;
    }

    .menu-list a {
      border-radius: 2px;
      border: 1px solid transparent;
      color: #4a4a4a;
      display: block;
      padding: .5em .75em;
    }

    table.my-orders-table td {
      border: 1px solid #dad9d9;
      padding: 5px;
      vertical-align: middle;
      font-size: 14px;
    }

    table.my-orders-table td .order-created {
      display: block;
      padding-top: 2px;
    }

    table.my-orders-table td .order-created .media-right {
      float: right;
    }

    table.my-orders-table td form button {
      border: 1px solid #216eb4;
      padding: 0px 5px;
      background-color: #216eb4;
      font-size: 10px;
      box-sizing: border-box;
      color: #fff;
      font-weight: bold;
      margin-top: -2px;
    }

    table.my-orders-table td form button:hover {
      background-color: #fff;
      color: #216eb4;
    }

    .view-order, .view-order h1, .view-order h2, .view-order h3, .view-order strong, .view-order label {
      color: #0168b5;
    }

    .view-order h2 strong {
      min-width: 140px;
      display: inline-block;
    }

    .view-order .order-address {
      border: 1px solid #73c9e9;
      padding: 15px;
      background-color: #f6fdff;
      margin-top: 10px;
    }

    .view-order .order-prescription {
      border: 1px solid #73c9e9;
      padding: 15px;
      background-color: #f6fdff;
      margin-top: 10px;
    }

    .view-order .order-prescription img {
      height: 100%;
      width: auto;
    }

    .view-order .order-item {
      border: 1px solid #73c9e9;
      padding: 5px 15px;
      background-color: #f6fdff;
      margin-top: 10px;
    }

    .view-order .order-total {
      background-color: #216eb4;
      margin-top: 10px;
    }

    .view-order .order-total h1 {
      color: #fff;
    }

    #navcontainer ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }

    #navcontainer ul li {
      display: inline;
    }

    #navcontainer ul li a {
      text-decoration: none;
      padding: .2em 1em;
    }

    #navcontainer ul li a:hover {
    }

    /* my orders card ui */

    table.mobile-card-ui thead {
      display: none;
    }

    table.mobile-card-ui tr {
      margin-bottom: 20px;
      display: block;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      box-shadow: 0px 0px 4px -1px #216eb4;
    }

    table.mobile-card-ui tr:after {
      content: "";
      display: table;
      clear: both;
    }

    table.mobile-card-ui tr:before {
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table.mobile-card-ui td {
      box-sizing: border-box;
      /* display: block; */
      /* float: left; */
      clear: left;
      width: 100%;
      text-align: center;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table.mobile-card-ui td.name-clipping, table.mobile-card-ui td.email-clipping, table.mobile-card-ui td.address-clipping {
      overflow: auto !important;
      max-width: none;
      text-overflow: initial;
      white-space: initial !important;
    }

    table.mobile-card-ui td:last-child {
      border-bottom: 0;
    }

    table.mobile-card-ui td select.form-control {
      max-width: 100px;
      float: right;
    }

    table.mobile-card-ui td div {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }

    table.mobile-card-ui td:before {
      content: attr(data-label);
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      position: relative;
      width: 100%;
      top: 0px;
      /* background-color: #eee; */
      margin-bottom: 10px;
    }

    .my-orders-table.mobile-card-ui tr td{
      width: auto;
      padding: 5px 10px;
      border: none;
    }

    .my-orders-table.mobile-card-ui tr td:first-child{
      width: 70px;
    }

    /* my orders card ui */

    .my-order-item{
      border: 1px solid #ccc;
      box-shadow: 0px 0px 1px 0px #ccc;
      margin-bottom: 10px;
      font-size: 14px;
      display: table;
      width: 100%;
    }

    .my-order-item > div{
      display: table-cell;
      position: relative;
      height: 100%;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
    }

    .my-order-item > div p.my-order-item-item-title{
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .my-order-item > div .status-icon p.my-order-item-item-title{
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 10px;
      font-size: 14px;
    }

    .my-order-item > div > span{
      display: block;
      min-height: 20px;
    }

    .my-order-item > div.id{
      width: 60px;
    }

    .my-order-item > div.created{
      width: 100px;
    }

    .my-order-item > div.status{
      width: calc(100% - 260px);
    }

    .my-order-item > div.status .status-icons{
      width: 100%;
      box-sizing: border-box;
    }

    .my-order-item > div.status .status-icons .status-icon{
      display: inline-block;
      width: 23%;
    }

    .my-order-item > div.action{
      width: 100px;
    }

    .my-order-item > div.action button{
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      font-size:14px
    }

    /*/////////////////////// admin styling ///////////////////*/

    .section.admin-body-container{
      padding: 0px;
    }

    .section.admin-body-container .app-sidebar.column.is-2.is-hidden-tablet-only:before{
      content: "";
      background-color: #111;
    }

    .canvas{
      position: relative;
      min-height: 100%;
    }

    .admin-navbar{
      background-color: rgba(0, 0, 0, 0.54) !important;
    }

    .admin-navbar .navbar-link:after{
      display: none !important;
    }

    .admin-side-menu{
      background-color: #fff;
      padding: 15px;
      -webkit-box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
      box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    }

    .column.dashboard-top-card:nth-child(1) .card{
      background-color: #1bbf89 !important
    }

    .column.dashboard-top-card:nth-child(2) .card{
      background-color: #0f83c9 !important
    }

    .column.dashboard-top-card:nth-child(3) .card{
      background-color: #db524b !important
    }

    .column.dashboard-top-card:nth-child(4) .card{
      background-color: #f6a821 !important
    }

    .column.dashboard-top-card .card .card-content{
      text-align: center;
      padding: 30px 5px;
      color: #fff;
      text-shadow: 0px 0px 5px #111111fc;
    }

    .column.dashboard-top-card .card .card-content h1.title.is-1{
      font-size: 30px;
      margin-bottom: 10px;
      color: #fff;
    }

    @media screen and (min-width: 1024px) {
      .logout-icon {
        display: block;
      }
      .logout-text {
        display: none;
      }
      .navbar-link {
        padding: 5px 10px;
        font-size: 14px;
      }

      .navbar-link:nth-child(1):after, .navbar-link:nth-child(2):after {
        border: none;
        content: "|";
        position: absolute;
        display: block;
        width: 2px;
        height: 100%;
        transform: none;
        margin: 0px;
        top: 4px;
        right: 0;
      }

      .navbar-link:nth-child(3):after {
        display: none;
      }
    }

    @media screen and (max-width: 1024px) {
      .navbar-menu {
        background-color: #616259;
      }

      .logout-icon {
        display: none;
      }

      .logout-text {
        display: block;
      }

      .home-body .columns .column.home-tab-item {
        width: 100% !important;
      }

      .home-body .main-desc.main-desc1 {
        font-size: 40px;
        top: 120px;
        line-height: 46px;
      }

      .home-body .main-desc.main-desc2 {
        font-size: 26px;
        top: 220px;
        line-height: 27px;
      }

      .home-body .columns .column.home-tab-item.groceries {
        width: 100% !important;
        position: absolute;
        top: 100%;
        left: 0px;
      }
    }

    @media screen and (max-width: 768px) {


      .home-body .main-desc.main-desc1 {
        top: 120px;
      }

      .home-body .main-desc.main-desc2 {
        top: 220px;
      }

      .section.search-results .card-content .media-content .level .level-left{
        float: left;
        margin-top: 10px;
        font-weight: bold;
      }

      .section.search-results .card-content .media-content .level .level-right{
        float: right;
        margin-top: 0px;
      }

      .accounts-menu {
        padding-bottom: 0px;
      }

      .accounts-menu aside.menu{
        background-color: #fff;
      }

      .accounts-menu aside.menu ul.menu-list{
        min-height: 40px;
      }

      .accounts-menu aside.menu ul.menu-list li{
        width: 25%;
        float: left;
        display: inline-block;
      }

      section.account-container .column.is-12.fullwidth, .section.account-container .column.is-12.fullwidth {
        padding: 0px;
        background-color: transparent;
        box-shadow: none;
      }

      .my-order-item > div.status .status-icons .status-icon {
        width: 100%;
      }

      .my-order-item > div .status-icon p.my-order-item-item-title{
        float: left;
        margin: 0px;
        font-size: 12px;
      }

      .status-icon-container{
        width: 18px;
        height: 18px;
        background-size: 75px;
        float: right;
      }

      .status-icon-ordered .status-icon-container{
        background-position-x: 0px; 
      }

      .status-icon-ordered.is-active .status-icon-container{
        background-position-y: 19px; 
      }

      .status-icon-packed .status-icon-container{
        background-position-x: -19px;
      }

      .status-icon-packed.is-active .status-icon-container{
        background-position-y: 19px;
      }

      .status-icon-shipped .status-icon-container{
        background-position-x: -38px;
      }

      .status-icon-shipped.is-active .status-icon-container{
        background-position-y: 19px;
      }

      .status-icon-delivered .status-icon-container{
        background-position-x: -57px;
      }

      .status-icon-delivered.is-active .status-icon-container{
        background-position-y: 19px;
      }
    }

    @media screen and (max-width: 460px) {
      .my-order-item > div .status-icon p.my-order-item-item-title{
        width: auto;
        float: none;
      }
      .status-icon-container{
        float: none;
      }
    }

    @media screen and (max-width: 532px) {
      .home-body .main-desc.main-desc1 {
        font-size: 30px;
        top: 120px;
      }
      .home-body .main-desc.main-desc2 {
        top: 220px;
      }
    }

    @media screen and (max-width: 391px) {
      .home-body .main-desc.main-desc1 {
        line-height: 38px;
      }
      .home-body .main-desc.main-desc2 {
        top: 200px;
      }
    }