.button {
    &.is-block {
      width: 100%;
    }
  // &.blue {
  //   background: #007bff;
  //   height: 300px;
  //
  // }
}

.clickable-row td {
  cursor: pointer;
  /*cursor: hand;*/
}

.select {
  &.is-block {


    select {
      width: 100%;

    }
    width: 100%;
  }
}


.auth {
  margin-top: 100px;
}

//body {
//  padding-top: 50px;
//}



.is-facebook {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
}