.button {

    &.is-block {
      width: 100%;
    }
  // &.blue {
  //   background: #007bff;
  //   height: 300px;
  //
  // }
}

.clickable-row td {
  cursor: pointer;
  /*cursor: hand;*/
}


.auth {
  margin-top: 100px;
}