
// Fonts

// Variables
//@import "variables";

// Bootstrap
@import "~bulma/bulma";


.app-canvas {

  position: relative;


  .app-sidebar {
    padding-top: 40px;
  }

  .app-content {
    padding-top: 40px;
  }
}



.field-body > .field:not(.is-narrow) {
  flex: 1 !important;
}